@charset "UTF-8";

/* ataru
   ========================================================================== */
$ratio: 1;

.ataru {
  $this: &;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: (2000px / $ratio);
  transform: translateX(100vw);
  transform-origin: center center;
  overflow-y: hidden;

  // Wrapper
  &__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
  }

  // Ataru
  &__image {
    width: (1333px / $ratio);
    height: (2000px / $ratio);
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../images/ataru.png);
    animation: ataru-roulette 0.8s steps(10) infinite;
    background-position: (-1333px / $ratio);
    background-size: cover;
    position: relative;
    z-index: 1;
    // opacity: 0.05;
    margin: 0 auto;
    @at-root .-stop & {
      animation-play-state: paused;
    }
  }

  // Stage
  &__stage {
    transform: translateY(-100%);
    text-align: center;
    .a {
      fill: none;
    }
    .b {
      clip-path: url(#a);
    }
    .c {
      fill: #fff;
    }
    .d {
      fill: #f3ff00;
    }
    svg {
      width: 1080px;
      height: auto;
    }
  }

  // Logo
  &__logo {
    position: fixed;
    left: 0;
    top: 0;
    .a {
      fill: #fff;
    }
  }
}

@keyframes ataru-roulette {
  to {
    background-position: (-14663px / $ratio);
  }
}
