@charset "UTF-8";

.ending {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  backdrop-filter: blur(3px) sepia(90%);
  z-index: z(ending);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.ending__wrapper {
  position: relative;
  opacity: 0;
  transform: translateY(24px);
}

.ending__image {
  filter: sepia(1);
  box-shadow: 0 40px 64px rgba(#1a1a1a, 0.382);
}

.ending__message {
  color: #fff;
  position: absolute;
  right: 64px;
  top: 168px;
  font-size: 42px;
  line-height: 1;
  letter-spacing: 0.05em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ending__text {
  opacity: 0;
  transform: translateY(8px);
  background-color: #fff;
  color: #1a1a1a;
  filter: sepia(0.382);
  padding: 0.382em 0.382em;
  font-family: a-otf-ryumin-pr6n, serif;
  font-weight: 300;
  font-style: normal;
  & + & {
    margin-top: 8px;
  }
}
