@charset "UTF-8";

/* header
   ========================================================================== */

.header {
  $this: &;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  // Title
  &__title {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .a {
      fill: #fff;
    }
    svg {
      width: 800px;
      height: auto;
    }
  }

  // Logo
  &__logo {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(100vw);
    color: #fff;
    div {
      font-family: 'Monoton', cursive;
      font-size: 50px;
      letter-spacing: 0;
    }
    small {
      font-size: 12px;
      display: block;
      margin-top: 0.618em;
    }
  }
}
