@charset "UTF-8";

/* trigger
   ========================================================================== */

#trigger {
  content: '開始';
  display: block;
  color: #fff;
  background-color: $color-red;
  border-radius: 5em;
  width: 16.18%;
  min-width: 400px;
  padding: 1.1618em;
  line-height: 1;
  font-size: 19px;
  position: fixed;
  bottom: 10vh;
  z-index: 2;
  transition: background-color 0.21s ease 0s;
  font-family: a-otf-midashi-mi-ma31-pr6n, serif;
  font-style: normal;
  font-weight: 600;
  &:hover,
  &.-stop {
    background-color: darken($color-red, 15);
  }
}
